## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [ ]:
a=7
b=4
c=a**b
print(c)

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [ ]:
s= "Hi there Sam"
x= s.split()
print(x)

['Hi', 'there', 'Sam']

In [ ]:
t=s.replace("Sam", "dad!")
print(t)
y=t.split()
print(y)

Hi there dad!
['Hi', 'there', 'dad!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [ ]:
planet = "Earth"
diameter = 12742

In [ ]:
abi="The diameter of {planet} is {diameter} kilometers".format(planet = "Earth",diameter = 12742)
print(abi)

The diameter of Earth is 12742 kilometers

** Given this nested list, use indexing to grab the word "hello" **

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [ ]:
aa=lst[3][1][2][0]
print(aa)

hello

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
print(d['k1'][3]["tricky"][3]['target'][3])

hello

** What is the main difference between a tuple and a list? **

In [ ]:
#tuple is immutable           #list is
#tuple consumes less memory   #list 
#tuples operation are safe    #list

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [ ]:
def domainGet(email):
  print("your domain is:"+email.split("@")[-1])

In [ ]:
domainGet('user@domain.com')

your domain is:domain.com

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [ ]:
def findDog(st):
  if 'dog' in st.lower():
    print("True")
  else:
    print("False")
st= "Is there a dog here?"

In [ ]:
findDog(st)

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [ ]:
value="the dog runs slowly than the other dog " 
def countdogs(values):
  count=0
  for word in value.lower().split():
    if word=='dog' or word=='dogs':
      count=count+1
      print(count)

In [ ]:
countdogs(value)

1
2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [ ]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [ ]:
caught_speeding(81, True)

'Small Ticket'

In [ ]:
caught_speeding(81, False)

'Big Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [ ]:
numberOfDaysWorked = int(input ("Enter the amount of days worked: \n"))
salary = 0.01 #setting the inital amount of pennies 
total = 0.00
print( "Day\tSalary\n---\t----" ) 
for currentDay in range(numberOfDaysWorked):
    salary += 2 * salary
    total += salary
    print (currentDay + 1, "\t", salary)
print ("Total Pay: $"+str(total))

Enter the amount of days worked:
5
Day	Salary
---	----
1 	 0.03
2 	 0.09
3 	 0.27
4 	 0.81
5 	 2.43
Total Pay: $3.6300000000000003

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [ ]:
def Merge(abc,efg):
  return(efg.update(abc))
abc={"Empid":"1234" , "Empname":"ABIRAMI" , "Basicpay":"$200"}
efg={"DeptName":"Information technology" , "DeptId":"001"}
print(Merge(abc,efg))
print(efg)

None
{'DeptName': 'Information technology', 'DeptId': '001', 'Empid': '1234', 'Empname': 'ABIRAMI', 'Basicpay': '$200'}