## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [1]:
base = 7
exponent = 4

result = 1

while exponent != 0:
    result *= base
    exponent-=1

print("Answer = " + str(result))

Answer = 2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [2]:
text = 'Hi there sam!'

# split the text from space
print(text.split(' '))

# Output: ['Hi', 'there', 'Sam!']

['Hi', 'there', 'sam!']

In [3]:
text = 'Hi there dad!'

# split the text from space
print(text.split(' '))

# Output: ['Hi', 'there', 'dad!']

['Hi', 'there', 'dad!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [4]:
planet = "Earth"
diameter = 12742

In [5]:
print("The diameter of {} is {} kilometers.".format(planet,diameter))

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [6]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [7]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [8]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

** What is the main difference between a tuple and a list? **

In [9]:
# Tuple is immutable and list is mutable

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [10]:
def domainGet(email):
    return email.split('@')[-1]

In [11]:
domainGet('user@domain.com')

'domain.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [12]:
def findDog(st):
    return 'dog' in st.lower().split()

In [13]:
findDog('Is there a dog here?')

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [14]:
def countDog(st):
    count = 0
    for word in st.lower().split():
        if word == 'dog':
            count += 1
    return count

In [15]:
countDog('This dog runs faster than the other dog dude!')

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [16]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [17]:
caught_speeding(81,True)

'Small Ticket'

In [18]:
caught_speeding(81,False)

'Big Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [28]:
num_days_worked = int(input("Enter the amount of days worked: \n")) 
salary = 0.01 
total_pay = 0.00
print( "Day\tSalary\n---\t----" )
for current_day in range(num_days_worked):
    salary += 2 * salary 
    print (current_day + 1, "\t", salary)
    total_pay += salary

Enter the amount of days worked:
21
Day	Salary
---	----
1 	 0.03
2 	 0.09
3 	 0.27
4 	 0.81
5 	 2.43
6 	 7.290000000000001
7 	 21.870000000000005
8 	 65.61000000000001
9 	 196.83000000000004
10 	 590.4900000000001
11 	 1771.4700000000003
12 	 5314.410000000001
13 	 15943.230000000003
14 	 47829.69000000001
15 	 143489.07000000004
16 	 430467.2100000001
17 	 1291401.6300000004
18 	 3874204.890000001
19 	 11622614.670000004
20 	 34867844.01000001
21 	 104603532.03000003

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [27]:
def Merge(dict1, dict2):
    return(dict2.update(dict1))
 
 
# Driver code
dict1 = {'empid': 10, 'empname': 8,'basicpay':9}
dict2 = {'deptname': 6, 'deptid': 4}
 
# This return None
print(Merge(dict1, dict2))
 
# changes made in dict2
print(dict2)

None
{'deptname': 6, 'deptid': 4, 'empid': 10, 'empname': 8, 'basicpay': 9}